@font-face {
  font-family: "Roboto";
  src: url(./public/font/Roboto.ttf);
}

@property --brown-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #470c0e;
}

@property --pink-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffe2e2;
}

@property --blue-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #3aa6b9;
}

@property --cream-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #fdf5ed;
}

@property --shadow-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0.2);
}

@property --grey-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #808080;
}

body {
  background-color: var(--pink-color);
}

html::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}
