.layout-container {
  width: 40%;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 48px;
  background-color: var(--cream-color);
  border-radius: 8px;
}

.title {
  font-family: "Roboto";
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--brown-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  color: var(--brown-color);
  width: 100%;
  font-weight: bold;
}

.input {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid var(--brown-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  color: bisque;
  background-color: var(--brown-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: ease-out 0.2s;
}

.button:hover {
  background-color: bisque;
  color: var(--brown-color);
}
