.layout-container {
  width: 90%;
  min-height: 100vh;
  padding-top: calc(80px + 86px); /* Header: 86px */
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.term-container {
  background-color: var(--cream-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--shadow-color);
}

.term-title {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.term-content h3{
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
}

.term-content p{
  font-family: "Roboto";
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 15px;
}

.term-content strong{
  font-weight: bold;
}